<!--  This file is app/views/movies/index.html.erb -->
<h2>Movies of Director <%= @director %></h2>

<table class="table table-striped col-md-12" id="movies">
  <thead>
  <tr>
    <th>Movie Title</th>
    <th>Rating</th>
    <th>Director</th>
    <th>Release Date</th>
  </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td>
        <%= movie.title %>
      </td>
      <td>
        <%= movie.rating %>
      </td>
      <td>
        <%= movie.director %>
      </td>
      <td>
        <%= movie.release_date %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
